* {
  box-sizing: border-box;
  font-family: "sunny-spells";
}
html,
body {
  height: 100%;
}

:root {
  --rainbow-colors: #ffcccc, #ffcc99, #ffff99, #ccffcc, #99ccff;
}

@font-face {
  font-family: "sunny-spells";
  src: url("sunny-spells-font/SunnyspellsRegular-MV9ze.woff2") format("woff2");
}

.main {
  display: flex;
  height: 100%;
  gap: 20vw;
  flex-wrap: nowrap;
}

.body {
  display: block;
  height: 560px;
  max-width: 350px;
  min-width: 350px;
  width: 40%;
  background-color: cyan;
  /* transform: translate(-50%, 0); */
  margin-top: 2%;
  margin-right: 10%;
  border: 5px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.screen {
  height: 20%;
  width: 90%;
  position: relative;
  top: 4%;
  left: 5%;
  background-color: #fdf6e4;
  border: 5px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.input {
  display: flex;
  font-family: "sunny-spells";
  font-size: 2.5em;
  /* text-align: right; */
  margin: 0 15px;
  overflow: hidden;
  justify-content: flex-end;
  white-space: nowrap;
}

.output {
  font-family: "sunny-spells";
  font-size: 2.5em;
  text-align: left;
  margin-left: 15px;
}

.grid-container {
  position: relative;
  top: 8%;
  left: 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  height: 20%;
  gap: 10px;
  /* align-items: center; */
}

.buttons {
  background-color: #ffffffcc;
  border: 5px solid rgba(0, 0, 0, 0.8);
  padding: 7px;
  font-size: 2.2em;
  text-align: center;
  border-radius: 5px;
  font-weight: 900;
  font-family: "sunny-spells";
}

.equalsTo {
  grid-row: 4 / 6;
  grid-column-start: 4;
  padding-top: 45px;
}

.customize {
  border-right: 2px solid black;
  padding-right: 25px;
  text-align: center;
  margin: 0 20px;
}

.customize p {
  font-size: 1.5em;
  margin: 7px 0;
}

.customize div:not(:last-child) {
  border-bottom: 2px solid black;
  padding: 0 20px;
  padding-bottom: 15px;
}

.basic-button {
  width: 20px;
  height: 20px;
  /* margin: 5px; */
  border-radius: 50%;
  border: 0.5px solid black;
}
.buttons:hover {
  border: 5px solid #df2518;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.active {
  transform: scale(1.5);
}

.rainbow-button {
  width: 120px;
  height: 20px;
  background-image: linear-gradient(to right, var(--rainbow-colors));
  border: 2px solid transparent;
  border-image: linear-gradient(to right, var(--rainbow-colors));
}

button:hover:not(.active) {
  transform: scale(1.2);
}

@media (max-width: 740px) {
  .body {
    position: absolute;
    left: 25%;
    top: 100px;
  }

  .customize {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 90px;
    overflow-y: auto;
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 2px solid black;
    margin: 0;
    padding-right: 0;
  }

  .customize > :not(:first-child):not(:nth-child(4)) {
    border-left: 2px solid black;
    border-bottom: 0;
    padding-bottom: 20px;
  }

  .customize div:not(:last-child) {
    border-bottom: 0;
  }
}

.body.rainbow {
  overflow: hidden;
  border: 5px solid #f2bce4;
  /* border-image: linear-gradient(135deg, var(--rainbow-colors)) 1; */
  background: linear-gradient(
    135deg,
    #f79fab,
    #f9d175,
    #e3f97b,
    #75f99e,
    #7b8df9,
    #aa75f9,
    #f975c8
  );
  border-radius: 10px;
}

.screen.rainbow {
  background: linear-gradient(to right, var(--rainbow-colors));
  border: 5px solid #fdf6e4;
}

.buttons.rainbow {
  border: 5px solid white;
  border-radius: 10px;
}

.buttons.rainbow:hover {
  border-image: linear-gradient(135deg, var(--rainbow-colors)) 1;
}

.buttons.rainbow:nth-child(n) {
  background-color: #ffcccc;
}

.buttons.rainbow:nth-child(5n + 2) {
  background-color: #ffcc99;
}

.buttons.rainbow:nth-child(5n + 3) {
  background-color: #ffff99;
}

.buttons.rainbow:nth-child(5n + 4) {
  background-color: #ccffcc;
}

.buttons.rainbow:nth-child(5n) {
  background-color: #99ccff;
}
